.cart-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.products-bought{
    margin-top: 20%;
    border: 1px solid black;
    width: 500px; 
    background-color: rgb(184, 183, 255);   
    opacity: 0.9;
}

.cart-buttons{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

.delete-product{
    margin-left: 15px;
}

.total{
    width: 100px;
    margin-left: 200px;
    background-color: rgb(119, 253, 163);
}

.no-products{
    margin-top: 5%;
    border: 1px solid black;
    width: 500px; 
    background-color: rgb(184, 183, 255);   
    opacity: 0.9;
    align-items: center;
}