.card {
    width: 350px;
    height: 380px;
    margin: 1rem;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px;
    display: flex;
    padding: auto;
    background-color: white;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: lightpink
}

.card-body {
    margin-top: 100px;
}