.card {
    margin-top: 5%;
    width: 1000px;
    height: 800px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px;
    background-color: white;
    align-items: center;
    opacity: 0.9;
}

.card-body {
    margin-top: 20px;
    font-size: 30px;
    background-color: rgb(184, 183, 255); 
    width: 100%;
    opacity: 0.9;
}

.add-button{
    align-items: flex-end;
}

.detail-top{
    display: flex;
}

.close-link{
    margin-left: 65%;
    text-decoration: none;
    
}

.close-cross{
    font-size: 40px;
    
}

