@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

.logo {
  height: 100px;
  width: 100px;
  margin: 10px; 
  border: none;
  mix-blend-mode: multiply;
} 

.nav-style {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkgray;
    opacity: 0.8;
}

.nav-bar{
  border: 1;
   padding: 15px;
}


.nav-bar:hover{
    background-color: rgb(131, 130, 130);
  }

.title {
    margin-left: 300px;
}



