.counter-button{
    border: 50px;
    font-size: 100px;
}

.add-button{
    border: 50px;
    background: none;
}

.button-container{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    align-items: flex-end;
}

.background-counter{    
    border: 100px;
}

.take{
    background: none;
}



